<h5>Criar/Editar aluno</h5>

<div class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <input disabled placeholder="Id" [(ngModel)]="aluno.id" type="text" class="validate">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input placeholder="Nome" [(ngModel)]="aluno.nome" type="text" class="validate" (input)="onInput()">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input placeholder="Email" [(ngModel)]="aluno.email" type="text" class="validate">
    </div>
  </div>
</div>
